@layer utilities {
  .animate-spin-slow {
    animation: spin 25s linear infinite;
  }

  .animate-spin-reverse {
    animation: spin 18s linear infinite reverse;
  }
}
@keyframes slowZoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.08);
  }
}

.animate-slowZoom {
  animation: slowZoom 20s ease-in-out infinite alternate;
}